__pycache__/
**/*.eggs
.pytest_cache
**/*.egg-info
dist/
build/
*.egg-info/
.installed.cfg
*.egg
*.py[cod]
venv/


*~

# Emacs
.#*

# Catkin custom files
CATKIN_IGNORE

# VSCode
.vscode

# Pycharm
.idea/

# macOS cache
.DS_Store

# Coveralls
.coverage
