<launch>
    <param name="/use_sim_time" value="true" />
    <arg name="model" default="burger"/>
    <arg name="open_rviz" default="false"/>
    <arg name="ns" default="tb3_0"/>
<!-- ======================================================================================================================== -->
    <node pkg="tf" type="static_transform_publisher" name="$(arg ns)_tf_broadcaster"  args="0 0 0 0 0 0 /$(arg ns)/base_footprint /$(arg ns)/base_link 10"/>
<!-- ======================================================================================================================== -->
    <include file="$(find argos_bridge)/launch/roslaunch_files/gmapping.launch">
        <arg name="ns" value="$(arg ns)"/>
    </include>
<!-- ======================================================================================================================== -->
    <include file="$(find argos_bridge)/launch/roslaunch_files/move_base.launch">
        <arg name="ns" value="$(arg ns)"/>
        <arg name="model" value="$(arg model)"/>
    </include>
<!-- ======================================================================================================================== -->
    <!-- <include file="$(find explore_lite)/launch/explore.launch">
        <arg name="ns" value="$(arg ns)"/>
    </include> -->
<!-- ======================================================================================================================== -->
  <group ns = "$(arg ns)">
    <node pkg="mdis_state_machine" type="frontier_explore" name="frontier_explore" output="screen">
      <param name="robot_name" value="$(arg ns)"/>
    </node>
	  <node pkg="multi_map_ros" name="find_fontier" type="frontier_clustering.py" output="screen"/>
  </group>

<!-- ======================================================================================================================== -->

<!-- Start rviz -->
<group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="$(arg ns)_rviz" required="true" args="-d $(find turtlebot3_gazebo)/rviz/path_following.rviz"/>
</group>

</launch>