<launch>
  <!-- The argument 5 is to notify the code that it is in testing mode for the robot Explorer -->
  <group ns = "tb3_1">
    <node pkg="mdis_state_machine" type="team_scheduler" name="team_scheduler" args="6 tb3_2 tb3_3" output="screen"/>
  </group>

  <!-- The argument 6 is to notify the code that it is in testing mode for the robot Relay -->
  <group ns = "tb3_2">
    <node pkg="mdis_state_machine" type="team_scheduler" name="team_scheduler" args="5 tb3_0 tb3_1" output="screen"/>
  </group>

  <!-- The argument 6 is to notify the code that it is in testing mode for the robot Relay -->
  <group ns = "tb3_0">
    <node pkg="mdis_state_machine" type="team_scheduler" name="team_scheduler" args="7 dummy_parent dummy_child" output="screen"/>
  </group>
</launch>
